/* ==========================================1030======================== */

@media only screen and (max-width: 1030px) {


  header{
    padding:15px 20px;
    }
    .nav-bar ul li a{
      padding: 10px 16px;
      font-size:16px;
      line-height:22px;
      }
  
  #banner .banner-box {
    position: absolute;
    top: 12rem;
    right: 80px;
    width: 39%;
  }

  #poolcarselect {
    padding: 3rem 5rem;
  }
  #poolcarselect .child h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .readmore {
    font-size: 15px;
    line-height: 20px;
  }

  #testimonial .custom-testi .bxs-quote-right{
    top: 10rem;
    left:15rem;
    }
    #testimonial .custom-testi .user-name{
      top:14rem;
      left:8rem;
    }



  .register {
    width: 118%;
  }

  .footer-box .footer-contact-box {
    padding: 0 0 0 39px;
  }



  /*========== VENDOR PAGE========= */

  #vendordetail {
    padding: 15rem 1rem 18px 1rem;
  }

  #vendordetail .child .vendor-text .call-now {
    top: 18rem;
    left: 4rem;
  }

  /*========== ABOUT PAGE========= */

  #inbanner .inbanner-text {position: absolute;
    top:12rem;
    left:26rem;
  }  

  #inabout{display: block;
    margin: 5rem 0;
    padding: 0 3rem;
  }
  #inabout .inabout-text{width:100%;
    padding: 0 0 0 20px;
  }
  #inabout .inabout-pic{width:100%;
  }
  #inabout .inabout-pic img {
    margin: 0 0 3rem 7rem;
}

/*========== CONTACT PAGE========= */

#incontact {
  padding: 6rem 2rem;
}
#incontactbanner .inbanner-text {position: absolute;
  top:12rem;
  left:26rem;
}  

#incontact .form-area {
  padding: 60px 40px 60px 40px;
}



}

/* ==========================================770======================== */

@media only screen and (max-width: 770px) {



  .form-area {
    padding: 80px 80px 80px 20px;
  }
  #testimonial {
    min-height: 400px;
  }
  .child-social {
    margin: 20px 0 0 0;
  }

  .footer-box .child ul {
    margin: 25px 0 0 0;
  }

/*========== VENDOR PAGE========= */

  #vendordetail .child .vendor-text .call-now {
    top: 10rem;
    left: 30rem;
  }

  /*========== ABOUT PAGE========= */

  #inbanner .inbanner-text {position: absolute;
    top:12rem;
    left:18rem;
    padding: 0 0 0 0px;
  }
  #inabout .inabout-pic img {
    margin: 0 0 3rem 0rem;
}

/*========== CONTACT PAGE========= */

#incontactbanner .inbanner-text  {position: absolute;
  top:12rem;
  left:18rem;
  padding: 0 0 0 0px;
}
#incontact .form-area {
  padding: 60px 15px 60px 15px;
}


}

/* ==========================================740======================== */

@media only screen and (max-width: 740px) {
  .form-area {
    padding: 20px 80px 80px 80px;
  }
  form select {
    margin: 0 0 15px 0;
  }
  #find-btn {
    display: table;
    margin: 0 auto;
  }

  .footer-box {
    padding: 0 30px;
  }
  .register {
    width: 99%;
  }

  .footer-box .footer-contact-box {
    padding: 20px 0 20px 15px;
  }

  /*========== ABOUT PAGE========= */

  #inabout .inabout-pic img {
    margin: 0px 0px 3rem 0rem;
    width: 630px;
    height: 400px;
  }

}

/* ==========================================670======================== */

@media only screen and (max-width: 670px) {


/*========== ABOUT PAGE========= */

  #inabout .inabout-pic img {
    margin: 0px 0px 3rem 0rem;
    width: 575px;
    height: 400px;
}

}

/* ==========================================420======================== */

@media only screen and (max-width: 420px) {



  header{padding:8px 20px;}
  
  .hamburger{display: block;
  cursor: pointer;
  color:#000;
  font-size: 30px;
  background:#8ff497;
  }
  
  .nav-bar{height: 0;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      width: 100vw;
      background:#8ff497;
      transition: 0.6s;
      z-index: 9999;
      overflow: hidden;
      border-radius: 0 0 0 60px;
  }
  .nav-bar.active{height:300px;
  }
  .nav-bar ul{display: block;
  width: fit-content;
  margin: 60px auto 0 auto;
  text-align: center;
  transition: 0.6s;
  opacity: 0;
  }
  
  .nav-bar.active ul{opacity: 1;
  }
  
  
  #banner .banner-box {
    position: absolute;
    top: 7rem;
    right: 46px;
    width: 70%;
  }

  #banner .banner-box h2 {
    font-size: 18px;
    line-height: 20px;
  }

  .car-heading {
    font-size: 24px;
    line-height: 30px;
  }

  #poolcarselect h2 {
    font-size: 21px;
    line-height: 5px;
  }
  #poolcarselect {
    padding: 1rem 1rem;
  }
  #poolcarselect .child {
    margin: 25px 0 0 0;
  }

  #poolcarselect .oval {
    width: 130px;
    height: 130px;
  }
  #testimonial p {
    font-size: 15px;
    line-height: 20px;
    padding: 0 15px;
  }

  #testimonial h2 {
    font-size: 26px;
    line-height: 25px;
  }

  #testimonial .owl-carousel {
    padding: 0 40px;
    margin-top: 2rem;
  }

  #testimonial .owl-theme .owl-dots .owl-dot span {
    width: 6px;
    height: 6px;
    margin: 9px 4px;
  }

  #testimonial .custom-testi .user-name{
    top:14rem;
    left:9rem;
  }
  #testimonial .custom-testi .user-name h4{font-size: 16px;
    line-height: 10px;
  }
  #testimonial .custom-testi .user-name h6{font-size: 13px;
    line-height: 18px;
  }








/*========== VENDOR PAGE========= */

  #vendordetail .child {
    display: block;
  }
  #vendordetail .vendor {
    width: 100%;
  }
  #vendordetail .vendor img {
    width: 200px;
  }
  #vendordetail .vendor-text {
    width: 100%;
  }

  #vendordetail .child .vendor-text .call-now {
    top: 33.5rem;
    left: 8rem;
  }

  #vendordetail .child {
    padding: 40px 40px 70px 20px;
  }
  #vendordetail .vendor-text {
    padding: 10px 0 0 10px;
  }


  /*========== ABOUT PAGE========= */

  #inbanner {
    min-height: 331px;
  }
  #inabout {
    padding: 0 1rem;
  }
  #inabout .inabout-text {
    padding: 0 0 0 0px;
  }
    #inbanner .inbanner-text {position: absolute;
      top:12rem;
      left:9rem;
    }
  
    #inabout .inabout-pic img {
      margin: 0 0 3rem 0rem;
      width: 372px;
      height: 269px;
  }
  
  #inabout .inabout-text h2{
    font-size: 25px;
    line-height: 35px;
  }
  

/*========== CONTACT PAGE========= */

  #incontactbanner .inbanner-text {position: absolute;
    top:12rem;
    left:9rem;
  }
  
  
  #incontact{display: block;
  }
  #incontact .map{width:100%;
  }
  #incontact .form-part{width:100%;
  margin: 20px 0 0 0;
  }
  


}

/* ==========================================380======================== */

@media only screen and (max-width: 380px) {

  /*========== ABOUT PAGE========= */

  #inabout .inabout-pic img {
    width: 340px;
    height: 262px;
}

}



/* ==========================================362======================== */

@media only screen and (max-width: 362px) {

  .car-heading {
    font-size: 22px;
    line-height: 20px;
}


.form-area form label {
  font-size: 15px;
  line-height: 20px;
}

#poolcarselect h2 {
  font-size: 20px;
  line-height: 5px;
}
#poolcarselect .child h3 {
  font-size: 16px;
  line-height: 20px;
}
  
.readmore {
  padding: 10px 18px;
}

.register h5 {
  font-size: 27px;
  line-height: 33px;
}

#poolcarselect .child {
  padding: 20px 20px 20px 10px;
}

/*========== VENDOR PAGE========= */

#vendordetail .child .vendor-text .call-now {
  top: 33.5rem;
  left: 7rem;
}

/*========== ABOUT PAGE========= */

#inbanner .inbanner-text {position: absolute;
  top:12rem;
  left:6rem;
}

#inabout .inabout-pic img {
  width: 330px;
  height: 262px;
}

/*========== CONTACT PAGE========= */

#incontactbanner .inbanner-text {position: absolute;
  top:12rem;
  left:6rem;
}



}
