@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");


:root {
  --black: #000;
  --white: #fff;
  --greenlight: #4b9452;
  --green-deep: #097627;
  --grey: #101010;
  --banner-box: #efefef;
  --register: #224859;
  --footer-green: #276e46;
  --form-area: #efeeee;
  --selectborder: #fcfdff;
  --form-text: #bdbdbd;
  --bg: #f5f5f5;
  --oval: #8bb346;
  --vendorbox: #f3f3f3;
  --rating: #ffda2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 16px/18px "Montserrat", sans-serif;
  background: var(--white);
  overflow-x: hidden;
}

header {
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.nav {
  margin: 28px 0 0 0;
}

header .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: right;
}
header .nav ul a {
  font: 600 18px/24px "Nunito", sans-serif;
  color: var(--black);
  text-decoration: none;
  padding: 0 50px;
}
header .nav ul a:hover {
  color: var(--greenlight);
}

/* ================================BANNER================================== */

#banner {
  background: url(../images/banner.jpeg);
  min-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner-box {
  position: absolute;
  top: 15rem;
  right: 80px;
  background: var(--banner-box);
  width: 25%;
  height: auto;
  border-radius: 2px;
  border: 1px solid var(--green-deep);
  padding: 50px 20px 50px 20px;
  display: block;
  border-radius: 10px;
}

.banner-box h2 {
  font: 600 20px/28px "Nunito", sans-serif;
  color: var(--black);
  text-align: center;
  padding: 15px 0;
}
.banner-logo {
  width: 100px;
}

.banner-object h2 {
  font: 600 20px/28px "Nunito", sans-serif;
  color: var(--black);
  text-align: center;
  padding: 15px 0;
}
.banner-logo img{
  width: 150px;
}

.banner-box div {
  width: 100%;
  text-align: center;
}

.banner-box div #pickup {
  margin: 0 0 80px 0;
}

.banner-box div select {
  width: 100%;
  height: 50px;
  background: var(--white);
  border: none;
  border-radius: 40px;
  font: 400 15px/20px "Montserrat", sans-serif;
  color: var(--form-text);
  border-right: 16px solid transparent;
  padding: 0px 20px;
  outline: none;
  margin: 0 0 20px 0;
}

.banner-box-btn {
  font: 700 16px/20px "Nunito", sans-serif;
  color: var(--black);
  background-image: linear-gradient(
    to right top,
    #fcac44,
    #fba342,
    #fb9b41,
    #f99240,
    #f88940
  );
  padding: 12px 40px;
  border-radius: 40px;
  text-decoration: none;
  box-shadow: 2px 2px 8px #888888;
  border: none;
}

.banner-box-btn:hover {
  color: var(--grey);
}

/* ================================FIND POOL CAR================================== */

.car-heading {
  font: 800 35px/40px "Nunito", sans-serif;
  color: var(--black);
  text-align: center;
  padding: 0 0 30px 0;
}

.form-area {
  background: var(--form-area);
  margin: auto;
  padding: 60px;
  height: auto;
}

form select {
  width: 100%;
  height: 50px;
  background: var(--white);
  border: none;
  border-radius: 40px;
  font: 400 15px/20px "Montserrat", sans-serif;
  color: var(--form-text);
  border-right: 16px solid transparent;
  padding: 0px 20px;
  outline: none;
}
.form-area form label {
  font: 600 17px/20px "Montserrat", sans-serif;
  color: var(--black);
  padding: 0 0 10px 20px;
}
.form-area form .bxs-school,
.bx-map {
  color: var(--green-deep);
  font-size: 24px;
  position: relative;
  top: 4px;
  padding-right: 5px;
}

#find-btn {
  position: relative;
  top: 3rem;
}

/* ================================HOW TO SELECT THE RIGHT POOL CAR================================== */

#poolcarselect {
  padding: 5rem 5rem;
}
#poolcarselect h2 {
  text-align: center;
  font: 700 35px/25px "Nunito", sans-serif;
  color: var(--black);
  padding: 20px 0;
}

#poolcarselect .oval {
  width: 150px;
  height: 150px;
  background: var(--oval);
  border-radius: 57% 43% 38% 62% / 60% 62% 38% 40%;
  text-align: center;
  padding: 30px 0 0 20px;
}

#poolcarselect .child {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 50px 0 0 0;
  position: relative;
  min-height: 336px;
  background: var(--bg);
}
#poolcarselect .child h3 {
  font: 700 22px/25px "Nunito", sans-serif;
  color: var(--black);
  padding: 20px 0;
}

.readmore {
  font: 700 16px/20px "Nunito", sans-serif;
  color: var(--black);
  background-image: linear-gradient(
    to right top,
    #fcac44,
    #fba342,
    #fb9b41,
    #f99240,
    #f88940
  );
  padding: 10px 20px;
  border-radius: 40px;
  text-decoration: none;
  box-shadow: 2px 2px 8px #888888;
}

.readmore:hover {
  color: var(--grey);
}

/* ================================TESTIMONIAL================================== */

#testimonial {
  background: url(../images/testibg.jpg) no-repeat 50% 50%;
  background-size: cover;
  min-height: 500px;
}

#testimonial h2 {
  font: 700 30px/35px "Nunito", sans-serif;
  color: var(--black);
  text-align: center;
}
#testimonial h3 {
  font: 700 20px/35px "Nunito", sans-serif;
  color: var(--black);
  text-align: center;
}
#testimonial p {
  font: 500 16px/20px "Nunito", sans-serif;
  color: var(--black);
  text-align: center;
}

#testimonial .owl-carousel {
  padding: 0 40px;
  margin-top: 5rem;
}



/* ================================FOOTER================================== */

footer {
  background: var(--footer-green);
  padding: 5rem 0 2rem 0;
}
.footer-box {
  padding: 0 60px;
}
.footer-box .child p {
  font: 500 15px/20px "Montserrat", sans-serif;
  color: var(--white);
  padding: 20px 0 0 0;
}

.footer-box .child h4 {
  font: 600 35px/28px "Nunito", sans-serif;
  color: var(--white);
}
.footer-box .child ul {
  list-style-type: none;
  margin: 40px 0 0 0;
  padding: 0;
}
.footer-box .child ul li {
  margin: 20px 0 0 0;
}

.footer-box .child ul li a i {
  font-size: 35px;
  padding: 0 10px 0 0;
}
.footer-box .child ul li a {
  color: var(--white);
  text-decoration: none;
  font: 500 19px/20px "Montserrat", sans-serif;
}

.register {
  background: var(--register);
  border-radius: 10px;
  padding: 50px;
  width: 80%;
}
.register h5 {
  font: 500 30px/40px "Nunito", sans-serif;
  color: var(--white);
  padding: 0 0 20px 0;
}
.register .footer-contact {
  font: 700 16px/20px "Nunito", sans-serif;
  color: var(--black);
  background-image: linear-gradient(
    to right top,
    #fcac44,
    #fba342,
    #fb9b41,
    #f99240,
    #f88940
  );
  padding: 15px 40px;
  border-radius: 40px;
  text-decoration: none;
  box-shadow: 2px 2px 4px #888888;
}
.footer-social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-social li {
  padding: 0 10px 0 0;
}

.copyright {
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  margin: 30px 0 0 0;
}
.copyright p {
  font: 500 15px/17px "Montserrat", sans-serif;
  color: var(--white);
  text-align: center;
  padding: 10px 0 0 0;
}
.footer-box .footer-contact-box {
  padding: 0 0 0 80px;
}

/* =================================VENDOR PAGE================================ */

#vendordetail {
  padding: 10rem 2rem;
}
#vendordetail h1 {
  font: 600 30px/40px "Nunito", sans-serif;
  color: var(--black);
  text-align: center;
}

#vendordetail .child {
  padding: 40px 40px 30px 20px;
  border: 1px solid var(--grey);
  border-radius: 10px;
  text-align: center;
  margin: 50px 0 0 0;
  position: relative;
  display: flex;
  background: var(--vendorbox);
}

#vendordetail .vendor .star .bxs-star {
  color: var(--rating);
}
#vendordetail .vendor .star {
  margin: 10px 0 0 0;
}

#vendordetail .vendor-text {
  padding: 0 0 0 15px;
}

#vendordetail .child .vendor-text h3 {
  font: 600 18px/22px "Montserrat", sans-serif;
  color: var(--black);
  text-align: left;
}

#vendordetail .child .vendor-text h3 span {
  font: 500 15px/17px "Montserrat", sans-serif;
  color: var(--black);
  padding: 0 0 0 6px;
}

#vendordetail .child .vendor-text .call-now {
  font: 700 16px/20px "Nunito", sans-serif;
  color: var(--black);
  background-image: linear-gradient(
    to right top,
    #fcac44,
    #fba342,
    #fb9b41,
    #f99240,
    #f88940
  );
  padding: 10px 15px;
  border-radius: 40px;
  text-decoration: none;
  box-shadow: 2px 2px 8px #888888;
  margin: 0 0 0 0;
  position: absolute;
  top: 12rem;
  left: 35rem;
}

#vendordetail .child .vendor-text .call-now:hover {
  color: var(--grey);
}

#vendordetail .vendor-text .vendor-mob {
  font: 600 18px/22px "Montserrat", sans-serif;
  color: var(--black);
}

#vendordetail .vendor-text .vendor-whatsapp {
  font: 600 18px/22px "Montserrat", sans-serif;
  color: var(--black);
}

#vendordetail .vendor-text .bxl-whatsapp {
  padding: 0 0 20px 0;
}
